@model StudentAddRequest

@{
    ViewBag.Title = "Create Student";
}

<a asp-controller="Students" asp-action="Index" class="link-hover">Back to Students List</a>
<h2>Create Student</h2>

<div class="w-50 mt">
    <form asp-controller="Students" asp-action="Create" method="post">
        @* StudentName *@
        <div class="flex">
            <div class="w-25">
                <label asp-for="StudentName" class="form-label">Student Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="StudentName" class="form-input" />
                <span asp-validation-for="StudentName" class="text-red"></span>
            </div>
        </div>

        @* StudentEmail *@
        <div class="flex">
            <div class="w-25">
                <label asp-for="StudentEmail" class="form-label">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="StudentEmail" class="form-input" />
                <span asp-validation-for="StudentEmail" class="text-red"></span>
            </div>
        </div>

        @* Course *@
        <div class="flex">
            <div class="w-25">
                <label asp-for="CourseID" class="form-label">Course</label>
            </div>
            <div class="flex-1">
                <select asp-for="CourseID" class="form-input" asp-items="@ViewBag.Courses">
                    <option>Please Select</option>
                </select>
                <span asp-validation-for="CourseID" class="text-red"></span>
            </div>
        </div>

        @* DateOfBirth *@
        <div class="flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input"/>
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>

        @* Address *@
        <div class="flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label">Address</label>
            </div>
             <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>
       
        @* Gender *@
        <div class="flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input type="radio" asp-for="Gender" value="@gender"/>
                    <label asp-for="@gender">@gender</label>
                    <span asp-validation-for="Gender" class="text-red"></span>
                }   
            </div>
        </div>
        

        @* Submit *@
        <div class="flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                    <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jQuery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}