@model IEnumerable<StudentResponse>

@{
    Layout = null;
}
    
<link href="@("http://" + Context.Request.Host.ToString() + "/Stylesheet.css")" rel="stylesheet"/>
<h1>Students</h1>
<table class="table w-100 mt">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Address</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentResponse student in Model)
        {
            <tr>
                <td style="width:12%">@student.StudentName</td>
                <td style="width:20%">@student.StudentEmail</td>
                <td style="width:18%">@student.Course</td>
                <td style="width:11%">@student.DateOfBirth?.ToString("dd MMM yyyy")</td>
                <td style="width:6%">@student.Age</td>
                <td style="width:19%">@student.Address</td>
                <td style="width:7%">@student.Gender</td>
            </tr>
        }
    </tbody>
</table>
    